{% extends 'base.html' %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<style>
  tbody, td, tfoot, th, thead, tr {
    text-align: center !important;
    vertical-align: middle !important;
  }
</style>

{% endblock head %}

{% block content %}

<div class="login">
  <div class="card text-center login-form" style="width: 60vw;">
    <div class="card-header login-form-header">
      <img src="/static/images/logo.png" alt="" style="height: 17vh;"> 
      <h1>Bank Pengkreditan Rakyat Perdana</h1>
      <h3>Sistem Kredit - Admin {{pk}} Page</h3>
    </div>
    <div class="card-body login-form-body">
      <button type="button" class="btn login-form-input-submit admin-button " style="margin-right: 7%;" data-bs-toggle="modal" data-bs-target="#FormulirPengajuan">FORMULIR PENGAJUAN</button>
      <button type="button" class="btn login-form-input-submit admin-button " style="margin-right: 7%;" data-bs-toggle="modal" data-bs-target="#StatusPengaju">DATA PENGAJUAN</button>
      <button type="button" class="btn login-form-input-submit admin-button " style="margin-right: 7%;" data-bs-toggle="modal" data-bs-target="#ChangePassword">CHANGE PASSWORD</button>
      <button type="button" class="btn login-form-input-submit admin-button"> <a href="{% url 'login' %}" style="text-decoration: none; color: white;">SIGN OUT</a> </button>
      <form method="POST">
        {% csrf_token %}
        <div class="modal fade" id="FormulirPengajuan" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Data Pengaju 1/15</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-4 col-form-label">Nama Lengkap</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="namaPengaju" name="namaPengaju">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputPassword3" class="col-sm-4 col-form-label">NIK</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control" id="nikPengaju" name="nikPengaju">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputPassword3" class="col-sm-4 col-form-label">Permohonan Kredit</label>
                  <div class="col-sm-8" style="align-items: center; display: flex;">
                    <input type="range" style="width: 80% !important; margin-right: 2vw;" class="form-range" step="100000" id="kreditPengaju" name="kreditPengaju" value="" min="100000" max="50000000" oninput="this.nextElementSibling.value = this.value" onchange="changeNumber(this.value)">
                    <output id="permohonanKreditOutput"></output>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputPassword3" class="col-sm-4 col-form-label">Jangka Waktu</label>
                  <div class="col-sm-8" style="align-items: center; display: flex;">
                    <input type="range" style="width: 80% !important; margin-right: 2vw;" class="form-range" step="1" id="jangkaWaktuKredit" name="jangkaWaktuKredit" value="" min="1" max="36" oninput="this.nextElementSibling.value = this.value">
                    <output></output>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan1" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="FormulirPengajuan1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Data Pengaju 2/15</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row mb-2">
                  <label for="inputEmail3" class="col-sm-4 col-form-label">Total Pendapatan</label>
                  <div class="col-sm-8">
                    <input type="number" onchange="totalPendapatan(this.value)" class="form-control" id="pendapatanPengaju" name="pendapatanPengaju">
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col">
                  </div>
                  <div class="col" style="display: flex; flex-basis: 40% !important; text-align: right;">
                    <label for="inputPassword3" class="" style="margin-right: 2.3vw;">Total Pendapatan</label>
                    <p for="inputPassword3" class="" id="totalPendapatan"></p>
                    <input type="hidden" value="" name="totalPendapatanPengaju" id="totalPendapatanPengaju">
                  </div>
                </div>
                
                <div class="row mb-3">
                  <label for="inputPassword3" class="col-sm-4 col-form-label">Biaya Rumah Tangga</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control" onchange="totalBiaya()" id="biayaRumahTanggaPengaju" name="biayaRumahTanggaPengaju">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputPassword3" class="col-sm-4 col-form-label">Angsuran / Cicilan</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control" onchange="totalBiaya()" id="AngsuranPengaju" name="AngsuranPengaju">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputPassword3" class="col-sm-4 col-form-label">Biaya Pendidikan</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control" onchange="totalBiaya()" id="biayaPendidikanPengaju" name="biayaPendidikanPengaju">
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col">
                  </div>
                  <div class="col" style="display: flex; flex-basis: 40% !important; text-align: right;">
                    <label for="" class="" style="margin-right: 4.5vw;">Total Biaya / Bulan</label>
                    <p for="" class="" id="totalBiaya" name="totalBiaya"></p>
                    <input type="hidden" value="" name="totalBiayaPengaju" id="totalBiayaPengaju">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan" data-bs-toggle="modal" data-bs-dismiss="modal">Previous</button>
                <button type="button" onclick="test()" class="btn btn-primary" data-bs-target="#FormulirPengajuan2" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="FormulirPengajuan2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Usia Pengaju 3/15</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <fieldset class="row mb-3">
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="usiaPengaju" id="usiaPengaju" value="10" checked>
                      <label class="form-check-label" for="usiaPengaju">
                        > 18 - 35 tahun
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="usiaPengaju" id="usiaPengaju" value="9">
                      <label class="form-check-label" for="usiaPengaju">
                        > 35 - 40 tahun 
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="usiaPengaju" id="usiaPengaju" value="9">
                      <label class="form-check-label" for="usiaPengaju">
                        > 40 - 50 tahun
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="usiaPengaju" id="usiaPengaju" value="8">
                      <label class="form-check-label" for="usiaPengaju">
                        > 50 - 55 tahun  
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan1" data-bs-toggle="modal" data-bs-dismiss="modal">Previous</button>
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan3" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="FormulirPengajuan3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Pernikahan Pengaju 4/15</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <fieldset class="row mb-3">
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="pernikahanPengaju" id="pernikahanPengaju" value="10" checked>
                      <label class="form-check-label" for="pernikahanPengaju">
                        Menikah
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="pernikahanPengaju" id="pernikahanPengaju" value="9">
                      <label class="form-check-label" for="pernikahanPengaju">
                        Belum Menikah 
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="pernikahanPengaju" id="pernikahanPengaju" value="8">
                      <label class="form-check-label" for="pernikahanPengaju">
                        Cerai
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan2" data-bs-toggle="modal" data-bs-dismiss="modal">Previous</button>
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan4" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="FormulirPengajuan4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Pendidikan Pengaju 5/15</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <fieldset class="row mb-3">
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="pendidikanPengaju" id="pendidikanPengaju" value="10" checked>
                      <label class="form-check-label" for="pendidikanPengaju">
                        Lulusan Universitas
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="pendidikanPengaju" id="pendidikanPengaju" value="10">
                      <label class="form-check-label" for="pendidikanPengaju">
                        Lulusan D3
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="pendidikanPengaju" id="pendidikanPengaju" value="9">
                      <label class="form-check-label" for="pendidikanPengaju">
                        Lulusan SMU / SMK
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="pendidikanPengaju" id="pendidikanPengaju" value="8">
                      <label class="form-check-label" for="pendidikanPengaju">
                        Lulusan SMP
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="pendidikanPengaju" id="pendidikanPengaju" value="8">
                      <label class="form-check-label" for="pendidikanPengaju">
                        Lulusan SD
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan3" data-bs-toggle="modal" data-bs-dismiss="modal">Previous</button>
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan5" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="FormulirPengajuan5" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Tempat Tinggal Pengaju 6/15</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <fieldset class="row mb-3">
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="tempatTinggalPengaju" id="tempatTinggalPengaju" value="10" checked>
                      <label class="form-check-label" for="tempatTinggalPengaju">
                        Belum Pernah Pindah
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="tempatTinggalPengaju" id="tempatTinggalPengaju" value="9">
                      <label class="form-check-label" for="tempatTinggalPengaju">
                        1 kali pindah
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="tempatTinggalPengaju" id="tempatTinggalPengaju" value="9">
                      <label class="form-check-label" for="tempatTinggalPengaju">
                        2 kali pindah
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="tempatTinggalPengaju" id="tempatTinggalPengaju" value="8">
                      <label class="form-check-label" for="tempatTinggalPengaju">
                        3 kali pindah
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="tempatTinggalPengaju" id="tempatTinggalPengaju" value="8">
                      <label class="form-check-label" for="tempatTinggalPengaju">
                        > 3 kali pindah
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan4" data-bs-toggle="modal" data-bs-dismiss="modal">Previous</button>
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan6" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="FormulirPengajuan6" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Transportasi Pengaju 7/15</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <fieldset class="row mb-3">
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="transportasiPengaju" id="transportasiPengaju" value="10" checked>
                      <label class="form-check-label" for="transportasiPengaju">
                        Mobil (Lunas)			
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="transportasiPengaju" id="transportasiPengaju" value="8">
                      <label class="form-check-label" for="transportasiPengaju">
                        Mobil (Cicilan)			
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="transportasiPengaju" id="transportasiPengaju" value="10">
                      <label class="form-check-label" for="transportasiPengaju">
                        Sepeda motor (Lunas)			
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="transportasiPengaju" id="transportasiPengaju" value="8">
                      <label class="form-check-label" for="transportasiPengaju">
                        Sepeda motor (Cicilan)			
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="transportasiPengaju" id="transportasiPengaju" value="8">
                      <label class="form-check-label" for="transportasiPengaju">
                        Kendaraan Umum			
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan5" data-bs-toggle="modal" data-bs-dismiss="modal">Previous</button>
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan7" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="FormulirPengajuan7" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Jabatan Pengaju 8/15</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <fieldset class="row mb-3">
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="jabatanPengaju" id="jabatanPengaju" value="10" checked>
                      <label class="form-check-label" for="jabatanPengaju">
                        Supervisor
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="jabatanPengaju" id="jabatanPengaju" value="10">
                      <label class="form-check-label" for="jabatanPengaju">
                        Staff tetap 
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="jabatanPengaju" id="jabatanPengaju" value="9">
                      <label class="form-check-label" for="jabatanPengaju">
                        Staff Kontrak 
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="jabatanPengaju" id="jabatanPengaju" value="8">
                      <label class="form-check-label" for="jabatanPengaju">
                        Outsource
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan6" data-bs-toggle="modal" data-bs-dismiss="modal">Previous</button>
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan8" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="FormulirPengajuan8" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Keahlian Pengaju 9/15</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <fieldset class="row mb-3">
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="keahlianPengaju" id="keahlianPengaju" value="10" checked>
                      <label class="form-check-label" for="keahlianPengaju">
                        Skill Expert
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="keahlianPengaju" id="keahlianPengaju" value="10">
                      <label class="form-check-label" for="keahlianPengaju">
                        Skill
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="keahlianPengaju" id="keahlianPengaju" value="9">
                      <label class="form-check-label" for="keahlianPengaju">
                        Non skill Expert
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="keahlianPengaju" id="keahlianPengaju" value="8">
                      <label class="form-check-label" for="keahlianPengaju">
                        Non skill 
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan7" data-bs-toggle="modal" data-bs-dismiss="modal">Previous</button>
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan9" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="FormulirPengajuan9" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Lama Kerja Pengaju 10/15</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <fieldset class="row mb-3">
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="lamaKerjaPengaju" id="lamaKerjaPengaju" value="10" checked>
                      <label class="form-check-label" for="lamaKerjaPengaju">
                        ≥ 10 tahun
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="lamaKerjaPengaju" id="lamaKerjaPengaju" value="10">
                      <label class="form-check-label" for="lamaKerjaPengaju">
                        8 - 10 tahun
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="lamaKerjaPengaju" id="lamaKerjaPengaju" value="9">
                      <label class="form-check-label" for="lamaKerjaPengaju">
                        5 - 8 tahun
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="lamaKerjaPengaju" id="lamaKerjaPengaju" value="8">
                      <label class="form-check-label" for="lamaKerjaPengaju">
                        2 - 5 tahun 
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="lamaKerjaPengaju" id="lamaKerjaPengaju" value="0">
                      <label class="form-check-label" for="lamaKerjaPengaju">
                        0 - 2 tahun
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan8" data-bs-toggle="modal" data-bs-dismiss="modal">Previous</button>
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan10" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="FormulirPengajuan10" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Riwayat Pindah Kerja Pengaju 11/15</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <fieldset class="row mb-3">
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="riwayatPindahKerjaPengaju" id="riwayatPindahKerjaPengaju" value="10" checked>
                      <label class="form-check-label" for="riwayatPindahKerjaPengaju">
                        Belum Pernah Pindah
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="riwayatPindahKerjaPengaju" id="riwayatPindahKerjaPengaju" value="9">
                      <label class="form-check-label" for="riwayatPindahKerjaPengaju">
                        1 kali pindah
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="riwayatPindahKerjaPengaju" id="riwayatPindahKerjaPengaju" value="9">
                      <label class="form-check-label" for="riwayatPindahKerjaPengaju">
                        2 kali pindah
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="riwayatPindahKerjaPengaju" id="riwayatPindahKerjaPengaju" value="8">
                      <label class="form-check-label" for="riwayatPindahKerjaPengaju">
                        3 kali pindah
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="riwayatPindahKerjaPengaju" id="riwayatPindahKerjaPengaju" value="8">
                      <label class="form-check-label" for="riwayatPindahKerjaPengaju">
                        > 3 kali pindah
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan9" data-bs-toggle="modal" data-bs-dismiss="modal">Previous</button>
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan11" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="FormulirPengajuan11" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Aset Pribadi Pengaju 12/15</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <fieldset class="row mb-3">
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="asetPribadiPengaju" id="asetPribadiPengaju" value="5" checked>
                      <label class="form-check-label" for="asetPribadiPengaju">
                        Rumah (lt/lb, atas nama)			
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="asetPribadiPengaju" id="asetPribadiPengaju" value="4">
                      <label class="form-check-label" for="asetPribadiPengaju">
                        Tanah (luas, atas nama)			
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="asetPribadiPengaju" id="asetPribadiPengaju" value="3">
                      <label class="form-check-label" for="asetPribadiPengaju">
                        Mobil			
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="asetPribadiPengaju" id="asetPribadiPengaju" value="2">
                      <label class="form-check-label" for="asetPribadiPengaju">
                        Motor			
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="asetPribadiPengaju" id="asetPribadiPengaju" value="1">
                      <label class="form-check-label" for="asetPribadiPengaju">
                        Lainnya (Jelaskan bentuknya)			
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="asetPribadiPengaju" id="asetPribadiPengaju" value="0">
                      <label class="form-check-label" for="asetPribadiPengaju">
                        Tidak ada				
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan10" data-bs-toggle="modal" data-bs-dismiss="modal">Previous</button>
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan12" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="FormulirPengajuan12" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Hutang Pengaju di Tempat Lain 13/15</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <fieldset class="row mb-3">
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="hutangPengajudiTempatLain" id="hutangPengajudiTempatLain" value="10" checked>
                      <label class="form-check-label" for="hutangPengajudiTempatLain">
                        Mengakui ada hutang pada LK di luar SLIK & tepat nilainya
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="hutangPengajudiTempatLain" id="hutangPengajudiTempatLain" value="8">
                      <label class="form-check-label" for="hutangPengajudiTempatLain">
                        Mengakui ada hutang pada LK di luar SLIK tapi tidak tepat nilainya
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="hutangPengajudiTempatLain" id="hutangPengajudiTempatLain" value="6">
                      <label class="form-check-label" for="hutangPengajudiTempatLain">
                        Tidak mengakui hutang LK lain namun Menjawab sesuai SLIK & tepat nilainya
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="hutangPengajudiTempatLain" id="hutangPengajudiTempatLain" value="4">
                      <label class="form-check-label" for="hutangPengajudiTempatLain">
                        Tidak mengakui hutang LK lain namun menjawab sesuai SLIK tapi tidak tepat nilainya
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="hutangPengajudiTempatLain" id="hutangPengajudiTempatLain" value="2">
                      <label class="form-check-label" for="hutangPengajudiTempatLain">
                        Menjawab tidak ada hutang tetapi terdapat hutang di SLIK
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan11" data-bs-toggle="modal" data-bs-dismiss="modal">Previous</button>
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan13" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="FormulirPengajuan13" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Kelancaran Hutang Pengaju 14/15</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <fieldset class="row mb-3">
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="kelancaranHutangPengaju" id="kelancaranHutangPengaju" value="10" checked>
                      <label class="form-check-label" for="kelancaranHutangPengaju">
                        Lancar 
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="kelancaranHutangPengaju" id="kelancaranHutangPengaju" value="8">
                      <label class="form-check-label" for="kelancaranHutangPengaju">
                        Menunggak 1-30 hari 
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="kelancaranHutangPengaju" id="kelancaranHutangPengaju" value="6">
                      <label class="form-check-label" for="kelancaranHutangPengaju">
                        Menunggak 30 - 60 hari
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="kelancaranHutangPengaju" id="kelancaranHutangPengaju" value="4">
                      <label class="form-check-label" for="kelancaranHutangPengaju">
                        Menunggak 60 - 90 hari
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="kelancaranHutangPengaju" id="kelancaranHutangPengaju" value="0">
                      <label class="form-check-label" for="kelancaranHutangPengaju">
                        Menunggak > 90 hari 
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan12" data-bs-toggle="modal" data-bs-dismiss="modal">Previous</button>
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan16" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="FormulirPengajuan16" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Jumlah Karyawan Perusahaan Pengaju 15/15</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <fieldset class="row mb-3">
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="jumlahKaryawanPerusahaanPengaju" id="jumlahKaryawanPerusahaanPengaju" value="10" checked>
                      <label class="form-check-label" for="jumlahKaryawanPerusahaanPengaju">
                        > 250 orang 
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="jumlahKaryawanPerusahaanPengaju" id="jumlahKaryawanPerusahaanPengaju" value="8">
                      <label class="form-check-label" for="jumlahKaryawanPerusahaanPengaju">
                        > 200 -250 orang
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="jumlahKaryawanPerusahaanPengaju" id="jumlahKaryawanPerusahaanPengaju" value="6">
                      <label class="form-check-label" for="jumlahKaryawanPerusahaanPengaju">
                        > 100 - 200 orang
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="jumlahKaryawanPerusahaanPengaju" id="jumlahKaryawanPerusahaanPengaju" value="4">
                      <label class="form-check-label" for="jumlahKaryawanPerusahaanPengaju">
                        > 50 - 100 orang
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="jumlahKaryawanPerusahaanPengaju" id="jumlahKaryawanPerusahaanPengaju" value="2">
                      <label class="form-check-label" for="jumlahKaryawanPerusahaanPengaju">
                        >25 - 50 orang
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan15" data-bs-toggle="modal" data-bs-dismiss="modal">Pevious</button>
                <button type="submit" name="button" value="ajuan" class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Submit</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="ChangePassword" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="input-group flex-nowrap login-form-input-container" style="display: flex; align-items: center;">
                  Current Password
                  <input style="margin-left: 3.8vw;" type="password" class="form-control" name="currentPassword" placeholder="Enter Current Password" aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap login-form-input-container" style="display: flex; align-items: center;">
                  New Password 
                  <input style="margin-left: 5vw;" type="password" class="form-control" name="NewPassword" placeholder="Enter New Password" aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap login-form-input-container" style="display: flex; align-items: center;">
                  Confirm New Password
                  <input style="margin-left: 1vw;" type="password" class="form-control" name="confirmNewPassword" placeholder="Confirm New Password" aria-describedby="addon-wrapping">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-target="#FormulirPengajuan15" data-bs-toggle="modal" data-bs-dismiss="modal">Pevious</button>
                <button type="submit" name="button" value="cp" class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>
        <div class="modal fade" id="StatusPengaju" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Status Pengajuan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <table id="example" class="display" style="width:100%">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nama Pengaju</th>
                      <th scope="col">Nominal Pengajuan</th>
                      <th scope="col">Plafond Diterima</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for pengaju, keuanganPengaju in pengajuZip %}
                    <tr>
                      <th scope="row">{{pengaju.PengajuId}}</th>
                      <td>{{pengaju.Nama}}</td>
                      <td>{{keuanganPengaju.PermohonanKreditPengaju}}</td>
                      <td>{{keuanganPengaju.PlafondDisetujui}}</td>
                      <td>{{pengaju.Status}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

{% block scripts %}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

<script>

  let flag = false;

  $(document).ready(function () {
    var table = $('#example').DataTable();

    if (!flag){
      var data = table.rows().data();
      let datalength = data.length;
      console.log(datalength);

      for (let i=0 ; i<datalength ; i++){
        pengajuan = parseInt(data[i][2]);
        pengajuan = currency(pengajuan);
        console.log(pengajuan);

        diterima = parseInt(data[i][3]);
        diterima = currency(diterima);

        data[i][2] = pengajuan;
        data[i][3] = diterima;
      }

      $('#example').dataTable().fnClearTable();   
      for (let i=0 ; i<datalength ; i++){
          $('#example').dataTable().fnAddData(data[i]);
      }
    }
    flag = true;
  });

  function test(){
      console.log("working");
      var flag2 = true;
      var namaPengaju = document.getElementById("namaPengaju").value;
      namaPengaju == '' ? flag2 = false : flag2 = true;
      
      var nikPengaju = document.getElementById("nikPengaju").value;
      nikPengaju == '' ? flag2 = false : flag2 = true;

      var totalPendapatanPengaju = document.getElementById("totalPendapatanPengaju").value;
      totalPendapatanPengaju == '' ? flag2 = false : flag2 = true;

      var totalBiayaPengaju = document.getElementById("totalBiayaPengaju").value;
      totalBiayaPengaju == '' ? flag2 = false : flag2 = true;

      flag2 == false ? alert("mohon isi data sebelum") : none;
  }

  function currency(val){
        const formatter = new Intl.NumberFormat('id', {style: 'currency', currency: 'idr'});
        val = formatter.format(val);
        return val;
    }

  function totalPendapatan(val){  
    const formatter = new Intl.NumberFormat('id', {style: 'currency', currency: 'IDR'})
    $('#totalPendapatanPengaju').val(val);

    val = formatter.format(val) 
    $('#totalPendapatan').text(val);
  }

  function totalBiaya(){  
    const formatter = new Intl.NumberFormat('id', {style: 'currency', currency: 'IDR'})

    var biayaRumahTanggaPengaju = parseInt(document.getElementById("biayaRumahTanggaPengaju").value);
    biayaRumahTanggaPengaju = isNaN(biayaRumahTanggaPengaju) ? biayaRumahTanggaPengaju=0 : biayaRumahTanggaPengaju=biayaRumahTanggaPengaju;

    var AngsuranPengaju = parseInt(document.getElementById("AngsuranPengaju").value);
    AngsuranPengaju = isNaN(AngsuranPengaju) ? AngsuranPengaju=0 : AngsuranAngsuranPengaju=AngsuranPengaju;

    var biayaPendidikanPengaju = parseInt(document.getElementById("biayaPendidikanPengaju").value);
    biayaPendidikanPengaju = isNaN(biayaPendidikanPengaju) ? biayaPendidikanPengaju=0 : biayaPendidikanPengaju=biayaPendidikanPengaju;

    var totalBiaya = biayaRumahTanggaPengaju + AngsuranPengaju + biayaPendidikanPengaju;

    $('#totalBiayaPengaju').val(totalBiaya);
    totalBiaya = formatter.format(totalBiaya) 
    $('#totalBiaya').text(totalBiaya);
  }

  function changeNumber(val){
    const formatter = new Intl.NumberFormat('id', {style: 'currency', currency: 'IDR'})
    val = formatter.format(val) 
    $('#permohonanKreditOutput').text(val);
  }

  function changeNumber2(val){
    const formatter = new Intl.NumberFormat('id', {style: 'currency', currency: 'IDR'})
    val = formatter.format(val) 
    $('#keuanganPengajuStatus').text(val);
  }
</script>

{% endblock scripts%}

{% endblock content %}