{% extends 'base.html' %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% endblock head %}

{% block content %}

<div class="login">
  <div class="card text-center login-form" style="width: 60vw;">
    <div class="card-header login-form-header">
      <img src="/static/images/logo.png" alt="" style="height: 17vh;"> 
      <h1>Bank Pengkreditan Rakyat Perdana</h1>
      <h3>Sistem Kredit - User Page</h3>
    </div>
    <div class="card-body login-form-body">
      <div>
        <button type="button" class="btn login-form-input-submit admin-button " style="margin-right: 7%;"><a data-bs-toggle="modal" href="#DaftarAjuan" style="text-decoration: none; color: white;">Daftar Ajuan</a></button>
        <button type="button" class="btn login-form-input-submit admin-button " style="margin-right: 7%;"><a data-bs-toggle="modal" href="#AjuanDiterima" style="text-decoration: none; color: white;">Ajuan Diterima</a></button>
        <button type="button" class="btn login-form-input-submit admin-button "><a data-bs-toggle="modal" href="#AjuanDitolak" style="text-decoration: none; color: white;">Ajuan Ditolak</a></button>
      </div> 
      <div>
        <button type="button" class="btn login-form-input-submit admin-button " style="margin-right: 7%;"><a data-bs-toggle="modal" href="#DaftarAdmin" style="text-decoration: none; color: white;">Daftar Admin</a></button>
        <button type="button" class="btn login-form-input-submit admin-button " style="margin-right: 7%;"><a data-bs-toggle="modal" href="#DataSVM" style="text-decoration: none; color: white;">Data SVM</a></button>
        <button type="button" class="btn login-form-input-submit admin-button"> <a href="{% url 'login' %}" style="text-decoration: none; color: white;">SIGN OUT</a> </button>
      </div>
      
      <form method="POST">
        {% csrf_token %}
        <div class="modal fade" id="DaftarAjuan" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Daftar Ajuan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <table class="table" style="justify-content: center; align-items: center; text-align: center;">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nama Pengaju</th>
                      <th scope="col">Nominal Ajuan</th>
                      <th scope="col">Plafond Maksimum</th>
                      <th scope="col">Plafond Disetujui</th>
                      <th scope="col">System Output</th>
                      <th scope="col">Score Total</th>
                      <th scope="col">Status</th>
                      <th scope="col">Detail Score</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for pengaju, keuanganPengaju, scorePengaju, PrediksiSistem in pengajuZip %}
                    <tr>
                      <th scope="row">1</th>
                      <td>{{pengaju.Nama}}</td>
                      <td id="kredit-{{pengaju.PengajuId}}">{{keuanganPengaju.PermohonanKreditPengaju}}</td>
                      <td id="maksimum-{{pengaju.PengajuId}}">{{keuanganPengaju.PlafondMaksimum}}</td>
                      <td>{{keuanganPengaju.PlafondDisetujui}}</td>
                      <td>{{PrediksiSistem.prediksi}}</td>
                      <td>{{scorePengaju.ScoreTotal}}/10</td>
                      <td>
                        <div style="display: flex; justify-content: center;">
                        {% if pengaju.Status == 'Pending' %}
                          <button type="submit" name="button" value="Accepted-{{pengaju.PengajuId}}" style="margin-right: 1vw;">Accept</button>
                          <button type="sbumit" name="button" value="Declined-{{pengaju.PengajuId}}">Decline</button>
                        {% else %}
                          {{pengaju.Status}}
                        {% endif %}
                        </div>
                      </td>
                      <td><button type="button" value="{{pengaju.PengajuId}}-{{pengaju.Nama}}" onclick="getScoreDetail(this.value)"><a data-bs-toggle="modal" href="#ScoreDetail" style="text-decoration: none; color: black;">Show Detail</a></button></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="DaftarAdmin" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Daftar Admin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <table class="table" style="justify-content: center; align-items: center; text-align: center;">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Email</th>
                      <th scope="col">Password</th>
                      <th scope="col">No telp</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for admin in admin %}
                    <tr style="vertical-align: middle;">
                      <th scope="row">{{admin.AdminId}}</th>
                      <td>{{admin.Email}}</td>
                      <td>{{admin.Password}}</td>
                      <td>{{admin.NoTelp}}</td>
                      <td>
                        <div style="display: flex; justify-content: center;">
                          <button type="submit" name="button" value="delete-{{admin.AdminId}}" style="margin-right: 7%;">delete</button>
                          <button type="button" name="button"><a onclick="getAdmin({{admin.AdminId}})" data-bs-toggle="modal" href="#UpdateAdmin" style="text-decoration: none; color: black;">Update</a></button>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary"><a data-bs-toggle="modal" href="#AddAdmin" style="text-decoration: none; color: white;">Add Admin</a></button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="AddAdmin" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Daftar Admin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="input-group flex-nowrap login-form-input-container register-form-input">
                  <span class="input-group-text" id="addon-wrapping">
                  <img src="/static/images/logo email.png" alt="" style="height: 3.5vh !important; margin-top: 15% !important;">
                  </span>
                  <input type="text" class="form-control" name="email" placeholder="Enter Your Email" aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap login-form-input-container register-form-input">
                  <span class="input-group-text" id="addon-wrapping">
                    <img src="/static/images/logo phone.png" alt="" style="height: 3.5vh !important; margin-top: 15% !important;">
                  </span>
                  <input type="text" class="form-control" name="telp" placeholder="Enter Phone Number" aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap login-form-input-container register-form-input">
                  <span class="input-group-text" id="addon-wrapping">
                    <img src="/static/images/logo password.png" alt="" style="height: 3.5vh !important; margin-top: 15% !important;">
                  </span>
                  <input type="password" class="form-control" name="password" placeholder="Enter Your Password" aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap login-form-input-container register-form-input">
                  <span class="input-group-text" id="addon-wrapping">
                    <img src="/static/images/logo password.png" alt="" style="height: 3.5vh !important; margin-top: 15% !important;">
                  </span>
                  <input type="password" class="form-control" name="confirmpassword" placeholder="Confirm Your Password" aria-describedby="addon-wrapping">
                </div>
                <button type="submit" name="button" value="admin-0" class="btn login-form-input-submit">ADD</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="UpdateAdmin" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Update Admin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="input-group flex-nowrap login-form-input-container register-form-input">
                  <span class="input-group-text" id="addon-wrapping">
                  <img src="/static/images/logo email.png" alt="" style="height: 3.5vh !important; margin-top: 15% !important;">
                  </span>
                  <input type="text" class="form-control" name="updateEmail" id="updateEmail" placeholder="Enter Your Email" aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap login-form-input-container register-form-input">
                  <span class="input-group-text" id="addon-wrapping">
                    <img src="/static/images/logo phone.png" alt="" style="height: 3.5vh !important; margin-top: 15% !important;">
                  </span>
                  <input type="text" class="form-control" name="updateTelp" id="updateTelp" placeholder="Enter Phone Number" aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap login-form-input-container register-form-input">
                  <span class="input-group-text" id="addon-wrapping">
                    <img src="/static/images/logo password.png" alt="" style="height: 3.5vh !important; margin-top: 15% !important;">
                  </span>
                  <input type="password" class="form-control" name="updatePassword" id="updatePassword" placeholder="Enter Your Password" aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap login-form-input-container register-form-input">
                  <span class="input-group-text" id="addon-wrapping">
                    <img src="/static/images/logo password.png" alt="" style="height: 3.5vh !important; margin-top: 15% !important;">
                  </span>
                  <input type="password" class="form-control" name="updateConfirmpassword" placeholder="Confirm Your Password" aria-describedby="addon-wrapping">
                </div>
                <input type="hidden" name="updateAdminId" id="updateAdminId">
                <button type="submit" name="button" value="updateAdmin-0" class="btn login-form-input-submit">UPDATE</button>
              </div>
            </div>
          </div>
        </div>
      </form>
        <div class="modal fade" id="AjuanDiterima" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Status Pengajuan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nama Pengaju</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for pengaju in pengajuDisetujui %}
                    <tr>
                      <th scope="row">{{pengaju.PengajuId}}</th>
                      <td>{{pengaju.Nama}}</td>
                      <td>{{pengaju.Status}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="AjuanDitolak" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Status Pengajuan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nama Pengaju</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for pengaju in pengajuDitolak %}
                    <tr>
                      <th scope="row">{{pengaju.PengajuId}}</th>
                      <td>{{pengaju.Nama}}</td>
                      <td>{{pengaju.Status}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="ScoreDetail" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Status Pengajuan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" style="display: flex;">
                <div style="flex-basis: 33%;">
                  <div style="display: flex;"><p>1. Pengaju Id : </p> <p id="PengajuId"></p></div>
                  <div style="display: flex;"><p>2. Nama Pengaju : </p> <p id="NamaPengaju"></p></div>
                  <div style="display: flex;"><p>3. Score Usia : </p> <p id="ScoreUsia"></p></div>
                  <div style="display: flex;"><p>4. Score Pernikahan : </p> <p id="ScorePernikahan"></p></div>
                  <div style="display: flex;"><p>5. Score Pendidikan : </p> <p id="ScorePendidikan"></p></div>
                </div>
                <div style="flex-basis: 33%;">
                  <div style="display: flex;"><p>6. Score Tempat Tinggal : </p> <p id="ScoreTempatTinggal"></p></div>
                  <div style="display: flex;"><p>7. Score Transportasi : </p> <p id="ScoreTransportasi"></p></div>
                  <div style="display: flex;"><p>8. Score Jabatan : </p> <p id="ScoreJabatan"></p></div>
                  <div style="display: flex;"><p>9. Score Keahlian : </p> <p id="ScoreKeahlian"></p></div>
                  <div style="display: flex;"><p>10. Score Lama Kerja : </p> <p id="ScoreLamaKerja"></p></div>
                </div>
                <div  style="flex-basis: 34%;">
                  <div style="display: flex;"><p>11. Score Riwayat Pindah Kerja : </p> <p id="ScoreRiwayatPindahKerja"></p></div>
                  <div style="display: flex;"><p>12. Score Aset Pribadi : </p> <p id="ScoreAsetPribadi"></p></div>
                  <div style="display: flex;"><p>13. Score Hutang di Tempat Lain : </p> <p id="ScoreHutangdiTempatLain"></p></div>
                  <div style="display: flex;"><p>14. Score Kelancaran Hutang : </p> <p id="ScoreKelancaranHutang"></p></div>
                  <div style="display: flex;"><p>15. Score Jumlah Karyawan : </p> <p id="ScoreJumlahKaryawan"></p></div>
                </div>
              </div>
              <div style="display: flex; align-self: center;"><p>Score Total : </p> <p id="ScoreTotal"></p></div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="DataSVM" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Status Pengajuan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" style="display: flex;">
                <table id="tablesvm" class="display" style="width:100%">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Status</th>
                      <th scope="col">Nama</th>
                      <th scope="col">ScoreUsia</th>
                      <th scope="col">ScorePernikahan</th>
                      <th scope="col">ScorePendidikan</th>
                      <th scope="col">ScoreTempatTinggal</th>
                      <th scope="col">ScoreTransportasi</th>
                      <th scope="col">ScoreJabatan</th>
                      <th scope="col">ScoreKeahlian</th>
                      <th scope="col">ScoreLamaKerja</th>
                      <th scope="col">ScoreRiwayatPindahKerja</th>
                      <th scope="col">ScoreAsetPribadi</th>
                      <th scope="col">ScoreHutangdiTempatLain</th>
                      <th scope="col">ScoreKelancaranHutang</th>
                      <th scope="col">ScoreJumlahKaryawan</th>
                      <th scope="col">ScoreTotal</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for dataStatus, dataNama, dataScoreUsia, dataScorePernikahan, dataScorePendidikan, dataScoreTempatTinggal, dataScoreTransportasi, dataScoreJabatan, dataScoreKeahlian, dataScoreLamaKerja, dataScoreRiwayatPindahKerja, dataScoreAsetPribadi, dataScoreHutangdiTempatLain, dataScoreKelancaranHutang, dataScoreJumlahKaryawan, dataScoreTotal in datazip %}
                      <tr>
                        <th scope="row">1</th>
                        <td>{{dataStatus}}</td>
                        <td>{{dataNama}}</td>
                        <td>{{dataScoreUsia}}</td>
                        <td>{{dataScorePernikahan}}</td>
                        <td>{{dataScorePendidikan}}</td>
                        <td>{{dataScoreTempatTinggal}}</td>
                        <td>{{dataScoreTransportasi}}</td>
                        <td>{{dataScoreJabatan}}</td>
                        <td>{{dataScoreKeahlian}}</td>
                        <td>{{dataScoreLamaKerja}}</td>
                        <td>{{dataScoreRiwayatPindahKerja}}</td>
                        <td>{{dataScoreAsetPribadi}}</td>
                        <td>{{dataScoreHutangdiTempatLain}}</td>
                        <td>{{dataScoreKelancaranHutang}}</td>
                        <td>{{dataScoreJumlahKaryawan}}</td>
                        <td>{{dataScoreTotal}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

<script>
   $(document).ready(function () {
    var table = $('#tablesvm').DataTable();

    var keuanganpengaju = '{{keuanganpengaju|safe}}';
    const obj = JSON.parse(keuanganpengaju);

    // console.log(obj.length);

    // console.log(obj[0]['PermohonanKreditPengaju']);
    for (let i=0 ; i<obj.length ; i++){
      var kredit = obj[i]['PermohonanKreditPengaju'];
      kredit = currency(kredit);
      $('#kredit-'+obj[i]['PengajuId']).text(kredit);

      var maksimum = obj[i]['PlafondMaksimum'];
      maksimum = currency(maksimum);
      $('#maksimum-'+obj[i]['PengajuId']).text(maksimum);
    }
    // console.log(obj[0]);
  });
</script>

<script>
  function getAdmin(val){
    var admin = '{{adminjs|safe}}';
    const obj = JSON.parse(admin);
    var selectedAdmin = obj.find(element => element.AdminId == val);

    $('#updateEmail').val(selectedAdmin.Email);
    $('#updateTelp').val(selectedAdmin.NoTelp);
    $('#updatePassword').val(selectedAdmin.Password);
    $('#updateAdminId').val(selectedAdmin.AdminId);
  }

  function currency(val){
    const formatter = new Intl.NumberFormat('id', {style: 'currency', currency: 'idr'});
    val = formatter.format(val);
    return val;
  }

  function getScoreDetail(val){
    var score = '{{scorejs|safe}}';
    const obj = JSON.parse(score);

    val = val.split('-')
    var scorePengaju = obj.find(element => element.PengajuId == val[0]);

    $('#PengajuId').text(scorePengaju.PengajuId);
    $('#NamaPengaju').text(val[1]);
    $('#ScoreUsia').text(scorePengaju.ScoreUsia);
    $('#ScorePernikahan').text(scorePengaju.ScorePernikahan);
    $('#ScorePendidikan').text(scorePengaju.ScorePendidikan);
    $('#ScoreTempatTinggal').text(scorePengaju.ScoreTempatTinggal);
    $('#ScoreTransportasi').text(scorePengaju.ScoreTransportasi);
    $('#ScoreJabatan').text(scorePengaju.ScoreJabatan);
    $('#ScoreKeahlian').text(scorePengaju.ScoreKeahlian);
    $('#ScoreLamaKerja').text(scorePengaju.ScoreLamaKerja);
    $('#ScoreRiwayatPindahKerja').text(scorePengaju.ScoreRiwayatPindahKerja);
    $('#ScoreAsetPribadi').text(scorePengaju.ScoreAsetPribadi);
    $('#ScoreHutangdiTempatLain').text(scorePengaju.ScoreHutangdiTempatLain);
    $('#ScoreKelancaranHutang').text(scorePengaju.ScoreKelancaranHutang);
    $('#ScoreJumlahKaryawan').text(scorePengaju.ScoreJumlahKaryawan);
    $('#ScoreTotal').text(scorePengaju.ScoreTotal);
  }
</script>

{% endblock scripts %}