{% extends 'base.html' %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% endblock head %}

{% block content %}

<div class="login">
  <div class="card text-center login-form" style="width: 60vw;">
    <div class="card-header login-form-header">
      <img src="/static/images/logo.png" alt="" style="height: 17vh;"> 
      <h1>Bank Pengkreditan Rakyat Perdana</h1>
      <h3>Sistem Kredit - User Page</h3>
    </div>
    <div class="card-body login-form-body">
      <div>
        <button type="button" class="btn login-form-input-submit admin-button " style="margin-right: 7%;"><a data-bs-toggle="modal" href="#DaftarAjuan" style="text-decoration: none; color: white;">Daftar Ajuan</a></button>
        <button type="button" class="btn login-form-input-submit admin-button " style="margin-right: 7%;"><a data-bs-toggle="modal" href="#AjuanDiterima" style="text-decoration: none; color: white;">Ajuan Diterima</a></button>
        <button type="button" class="btn login-form-input-submit admin-button "><a data-bs-toggle="modal" href="#AjuanDitolak" style="text-decoration: none; color: white;">Ajuan Ditolak</a></button>
      </div> 
      <div>
        <button type="button" class="btn login-form-input-submit admin-button"> <a href="{% url 'login' %}" style="text-decoration: none; color: white;">LOG OUT</a> </button>
      </div>
      
      <form method="POST">
        {% csrf_token %}
        <div class="modal fade" id="DaftarAjuan" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Daftar Ajuan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nama Pengaju</th>
                      <th scope="col">Nominal Ajuan</th>
                      <th scope="col">Plafond Maksimum</th>
                      <th scope="col">Plafond Disetujui</th>
                      <th scope="col">System Output</th>
                      <th scope="col">Score Total</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for pengaju, keuanganPengaju, scorePengaju, PrediksiSistem in pengajuZip %}
                    <tr>
                      <th scope="row">1</th>
                      <td>{{pengaju.Nama}}</td>
                      <td>{{keuanganPengaju.PermohonanKreditPengaju}}</td>
                      <td>{{keuanganPengaju.PlafondMaksimum}}</td>
                      <td>{{keuanganPengaju.PlafondDisetujui}}</td>
                      <td>{{PrediksiSistem.prediksi}}</td>
                      <td>{{scorePengaju.ScoreTotal}}</td>
                      <td>
                        <div style="display: flex; justify-content: center;">
                        {% if pengaju.Status == 'Pending' %}
                          <button type="submit" name="button" value="Accepted-{{pengaju.PengajuId}}" style="margin-right: 1vw;">Accept</button>
                          <button type="sbumit" name="button" value="Declined-{{pengaju.PengajuId}}">Decline</button>
                          <input type="hidden" value="{{pengaju.PengajuId}}">
                        {% else %}
                          {{pengaju.Status}}
                        {% endif %}
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </form>
        <div class="modal fade" id="AjuanDiterima" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Status Pengajuan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nama Pengaju</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for pengaju in pengajuDisetujui %}
                    <tr>
                      <th scope="row">{{pengaju.PengajuId}}</th>
                      <td>{{pengaju.Nama}}</td>
                      <td>{{pengaju.Status}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="AjuanDitolak" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Status Pengajuan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nama Pengaju</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for pengaju in pengajuDitolak %}
                    <tr>
                      <th scope="row">{{pengaju.PengajuId}}</th>
                      <td>{{pengaju.Nama}}</td>
                      <td>{{pengaju.Status}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

{% endblock content %}